In [1]:
import pandas as pd
import sqlite3 as sq
from datetime import datetime
import numpy as np

In [2]:
pd.options.display.max_columns=999

In [4]:
con_nih = sq.connect('nih.db')

In [4]:
sql = '''
Select PI_IDS, PI_NAMEs, CORE_PROJECT_NUM, FY, IC_NAME, TOTAL_COST, TOTAL_COST_SUB_PROJECT
From projects
'''
df_projects = pd.read_sql(sql, con_nih)

#### Filtered out projects without funding  By Total Cost > 500

In [5]:
df_projects['TOTAL_COST'] = df_projects[['TOTAL_COST']].where(~df_projects['TOTAL_COST'].isnull(),0)
df_projects['TOTAL_COST_SUB_PROJECT'] = df_projects[['TOTAL_COST_SUB_PROJECT']].where(~df_projects['TOTAL_COST_SUB_PROJECT'].isnull(),0)
df_projects['TOTAL_COST']  = df_projects['TOTAL_COST'] + df_projects['TOTAL_COST_SUB_PROJECT']
df_projects = df_projects[df_projects.TOTAL_COST >= 50000]
#only look at 2001-2015
before_2001 = df_projects['FY'] < 2001
after_2015  = df_projects['FY'] > 2015
df_projects = df_projects[(~before_2001) & (~after_2015)]

#### Retrieve each indiviual pid

In [6]:
df_temp = df_projects[['PI_IDS','PI_NAMEs','CORE_PROJECT_NUM', 'FY', 'IC_NAME' ]]
df_temp.IC_NAME.where(df_temp.IC_NAME == 'NATIONAL INSTITUTE OF GENERAL MEDICAL SCIENCES', 'others', inplace=True)
df_temp.IC_NAME.where(df_temp.IC_NAME == 'others', 'nigms', inplace=True)
df_temp.IC_NAME.unique()

/Users/weizheng/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:4485: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

array(['others', 'nigms'], dtype=object)

In [7]:
#create pid and name pairs
vals = df_temp.values;
rows, cols = vals.shape
p_ids = []
p_names = []
p_nums = []
fys = []
ics = []
#grab each pid from the ';' separated strings
for i in range(0,rows):
    if vals[i, 0] is not None and vals[i, 1] is not None:
        ids = vals[i, 0].strip().split(';')
        names = vals[i,1].strip().split(';')
        ids.pop()
        names.pop()
        if len(ids) == len(names):
            #if there are more than one pid, take primary contact
            if len(ids) == 1:
                ids = [d.strip() for d in ids ]
                names = [n.strip() for n in names]
            else:
                #ids = [d.replace(' (contact)', '').strip() for d in ids if '(contact)'   in d]
                #names = [n.replace(' (contact)', '').strip() for n in names if '(contact)' in n]
                ids = [d.replace(' (contact)', '').strip() for d in ids ]
                names = [n.replace(' (contact)', '').strip() for n in names]
            p_num = vals[i,2]
            fy = vals[i,3]
            ic = vals[i,4]
            p_ids.extend(ids)
            p_names.extend(names)
            p_nums.extend([str(p_num)] * len(ids))
            fys.extend([fy] * len(ids))
            ics.extend([ic] * len(ids))

In [8]:
def getUniqDF(arrayList):
    #taking equal-length arrays, create  unique combinations
    cs = ['_'.join([str(a) for a in A]) for A in zip(*arrayList)]
    uniq_comb = list(set(cs))
    a_len = len(arrayList)
    outputs = [];
    for i in range(a_len):
        outputs.append([])
    #unique combinations
    for c in uniq_comb:
        s = c.split('_')
        for si in range(a_len):
            outputs[si].append(s[si])
    return(outputs)
# pid and names
uniq_pids, uniq_names = getUniqDF([p_ids, p_names])
df_pid_name = pd.DataFrame({'pid': uniq_pids, 'full_name':uniq_names})

# pids and project number
pid4num, uniq_prjnum = getUniqDF([p_ids, p_nums])
df_pid_prjnum = pd.DataFrame({'pid': pid4num, 'project_key':uniq_prjnum})

# pids, fy, and ic
pid4fy, fys_support, ics_support = getUniqDF([p_ids, fys, ics])   
df_pid_fy_ic = pd.DataFrame({'pid': pid4fy, 'fy':fys_support, 'ic': ics_support })

In [9]:
#calculate years of support 
df_pid_fy_ic['val'] = 1
df_sum = df_pid_fy_ic[['pid', 'ic', 'val']]
df_support = df_sum.pivot_table(columns='ic', index='pid', values='val', aggfunc='sum')
df_support.columns = ['nigms_years', 'others_years']
df_support['nih_years'] =  df_support[['nigms_years', 'others_years']].apply(np.max, axis=1)

In [10]:
df_support.drop('', inplace=True)

### NIGMS researchers

In [11]:
#definition of continually supported
nigms_inds = df_support.nigms_years>1
nigms_contin_inds = df_support.nigms_years==15
nih_contin_inds = (df_support.nih_years==15) & (df_support.nigms_years > 1)
df_support['is_nigms_contin'] = 0
df_support['is_nih_contin'] = 0
df_support.ix[nigms_contin_inds, 'is_nigms_contin' ] = 1
df_support.ix[nih_contin_inds, 'is_nih_contin' ] = 1

In [12]:
df_support[nigms_inds].index

Index(['10006384', '10008168', '10010745', '10010983', '10011950', '10016300',
       '10017611', '10021299', '10028321', '10036621',
       ...
       '9984179', '9984262', '9985280', '9986822', '9987162', '9991299',
       '9996634', '9996881', '9997153', '9997198'],
      dtype='object', name='pid', length=11270)

In [13]:
len(df_support[nigms_inds])

11270

#### Continually Supported by NIGMS

In [14]:
len(df_support[nigms_contin_inds])

612

#### Researchers who were continually supported by NIH

In [15]:
len(df_support[nih_contin_inds])

1213

In [20]:
df_support[nih_contin_inds].index

Index(['1840039', '1840203', '1852587', '1857677', '1857694', '1857785',
       '1857787', '1857799', '1857949', '1857999',
       ...
       '8233471', '8270374', '8288519', '8328629', '8357384', '8372282',
       '8404502', '8420343', '8441362', '9574352'],
      dtype='object', name='pid', length=1213)

In [21]:
df_support.head(1)

          nigms_years  others_years  nih_years  is_nigms_contin  is_nih_contin
pid
10000282          NaN           3.0        3.0                0              0

### Create Author Table

In [38]:
df_pid_name.drop_duplicates(['pid'], inplace=True)
df_pid_name = df_pid_name[~df_pid_name.pid.isnull()]
df_pid_name = df_pid_name[df_pid_name.full_name != 'WEDEN, MARGARET']

In [39]:
temp_df = df_pid_name.copy()
temp_df['pi_key'] = 'nih'+'_'+ temp_df['pid']
temp_df['full_name'] = temp_df['full_name'].str.lower()
temp_df['last_name'] = temp_df['full_name'].str.split(',').str.get(0)
temp_df['f_m_name'] = temp_df['full_name'].str.split(',').str.get(1)
temp_df['f_m_name'] = temp_df['f_m_name'].str.strip()
temp_df['first_name'] = temp_df['f_m_name'].str.split(' ').str.get(0)
temp_df['middle_name'] = temp_df['f_m_name'].str.split(' ').str.get(1)
temp_df['last_initial'] = temp_df['last_name'].str[0]
temp_df['first_initial'] = temp_df['first_name'].str[0]
temp_df['middle_initial'] = temp_df['middle_name'].str[0]

In [40]:
temp_df.shape

(119644, 10)

In [41]:
temp_df = temp_df.merge(df_support[['is_nigms_contin', 'is_nih_contin']], left_on='pid', right_index=True)
temp_df.drop(['f_m_name', 'pid'], axis=1, inplace=True)

In [42]:
temp_df.pi_key.unique().shape

(119643,)

In [43]:
temp_df.head(5)

,full_name,pi_key,last_name,first_name,middle_name,last_initial,first_initial,middle_initial,is_nigms_contin,is_nih_contin
0,"fiszdon, joanna m.",nih_7329263,fiszdon,joanna,m.,f,j,m,0,0
1,"donahue, thomas f",nih_1887829,donahue,thomas,f,d,t,f,0,0
2,"kebede, amha",nih_11807747,kebede,amha,NaN,k,a,NaN,0,0
3,"baker, harriet d.",nih_1889052,baker,harriet,d.,b,h,d,0,0
4,"rohsenow, damaris j.",nih_1885256,rohsenow,damaris,j.,r,d,j,0,0

In [27]:
#create an author table
con_analysis_db = sq.connect('nih_analyses.db')

In [28]:
temp_df.to_sql('researcher',con_analysis_db, if_exists='replace')
con_analysis_db.execute('create unique index pi_key_index on researcher(pi_key);')

### Create Author and Project Link table

In [29]:
temp_df = df_pid_prjnum.copy()
temp_df['pi_key'] = 'nih' + '_' + temp_df['pid']
temp_df.drop('pid', axis=1, inplace=True)
temp_df.to_sql('res_prj',con_analysis_db, if_exists='replace')
con_analysis_db.execute('create index pi_key_index_res_prj on res_prj(pi_key);')
con_analysis_db.execute('create index prjnum_index_res_prj on res_prj(project_key);')

### Create Project and Publication Link table

In [34]:
sql = '''
Select * 
From link
'''

df_prj_pub_link = pd.read_sql(sql, con_nih)

In [35]:
df_prj_pub_link.columns = ['publication_key' , 'project_key']

In [36]:
df_prj_pub_link.to_sql('prj_pub',con_analysis_db, if_exists='replace')
con_analysis_db.execute('create index prjnum_index_prj_pub on prj_pub(project_key);')
con_analysis_db.execute('create index pubkey_index_prj_pub on prj_pub(publication_key);')